@import url(https://fonts.googleapis.com/css?family=Raleway);

/*normalize CSS*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", Times New Roman, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	height: 50px;
	padding: 5px 2rem;
	position: fixed;
  background-color: #DDD;
}

nav {
	width: 100%;
	height: 30px;
	/*flexbox layout*/
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
	display: none;
}

/* ================================ 
			Menu-Toggle 
=================================*/

#button-container {
	height: 100%;
  width: 30px;
  padding: 10px;
  cursor: pointer;
  display: flex;
 	flex-direction: column;
  justify-content: center;
}


/* using pseudo-element to stack as a hambuger menu button */
/*::before creates a pseudo-element that is the first child of the selected element*/
/*::after creates a pseudo-element that is the last child of the selected element.*/
.menu-button,
.menu-button::before,
.menu-button::after,
.close-button,
.close-button::before,
.close-button::after {
  position: absolute;
  background-color: #333;
  height: 4px;
  width: 30px;
  border-radius: 5px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* offset the ::before & ::after pseudo-element relative to .menu-button */
.menu-button::before {
  content: "";
  top: -8px;
}

.menu-button::after {
	content: "";
  top: 8px;
}

.close-button {
  background: rgba(255, 255, 255, 0);
}

.close-button::before {
	content: "";
	top: 0px;
	transform: rotate(405deg);
}

.close-button::after {
	content: "";
  top: 0px;
  transform: rotate(-405deg);
}

/* ===================================== 
		Menu-Toggle List Items
======================================*/
#menu {
/*  remove list from normal work flow and offset it */
	position: absolute;
	top: 50px;
	right: 0;
	width: 50%;
	height: 100%;
	height: calc(100vh - 50px);
	background-color: #BBB;
	/* flexbox */
	flex-direction: column;
	list-style-type: none;
}

/* >: child selector */
#menu > li {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0.5rem 1rem;
	width: 100%;
	height: 3rem;
	color: white;
	border-bottom: 2px solid #DDD;
}

/* ===================================== 
				Main
======================================*/
#welcome {
	display: flex;
	align-items: center;
	justify-content: center;
	height:  30vh;
	background-color: lightblue;
  margin-top: 50px;
}

#sectionTitle {
	text-align: center;
	margin: 20px 0px;
}

.box {
	color: white;
	text-align: center;
	height: 20vh;
	padding: 1rem;
	margin: 2rem;
	background-color: #9696cc;
}

#actionBtn-container {
	display: flex;
	justify-content: center;

}

button {
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #555;
	background-color: aliceblue;
	cursor: pointer;
}

/* ===================================== 
			Media Queries
======================================*/

/*Content Boxes should change from 1-columns to 2-column layout*/
@media screen and (min-width: 500px){
	.gridContainer {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2.5vw;
	}

	.box {
		margin: 0;
	}
}

/*Menu trigger icon should be replaced by menu Items in the navigator*/
@media screen and (min-width: 800px)  {
	#button-container {
		display: none;
	}

	#menu {
		display: flex;
    flex-direction: row;
    align-items: center;
		position: static;
		width: auto;
		height: auto;
		background-color: #DDD;
		margin: 0;
		padding: 0;
	}

	#menu li {
		margin: 0 2rem 0 0;
    padding: 0;
    border: 0;
    width: auto;
    background-color: #DDD;
    color: #000;
	}
}

@media screen and (min-width: 1200px) {
	.gridContainer {
		max-width: 1200px;
	}
} 


